.title {
  font-weight: 700;
  font-size: 40px;
  /* background-color: red; */

  display: flex;
  justify-content: center;
}

.summary {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 20.11px;
  /* background-color: blue; */

  display: flex;
  justify-content: center;
  
  margin-top: 10px;
}

.dieContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  flex-wrap: wrap;

  /* background-color: purple; */
}

.die {
  width: 150px;
  height: 150px;

  border-radius: 10px;

  font-size: 100px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:1px 10px 20px 1px#c7c5c5;

  cursor: pointer;
}

.buttonContainer {  
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
}

.btn {
  width: 184.32px;
  height: 71.68px;

  background-color: #5035FF;
  color: #FFFFFF;

  border-radius: 5px;
  font-size: 40px;

  font-weight: 500;
  border-style: none;

  cursor: pointer;
}